.t{
  text-align: center;
  height: 100%;
  margin:0;
  }
.tt{
  text-shadow: 2px 1px 3px rgba(150,150,150,.8);

}

.lu{
  color: rgb(255, 0, 0);
}

.rr{
 text-align: center;
}

.ig{

  width:90%;
margin-bottom: 10px;
}


.unit{

display:inline-block;
width:75px;
float: left;
}
.unite{
padding-top:8px;
  vertical-align: center;
}

.entt{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.rst{
 text-align: center;
  font-size: 1.5em;
  color: rgba(150,150,150,1);
}
.rst1{
 text-align: center;
  font-size: 1.5em;
  color: rgba(60,100,50,1);
}


@media screen and (max-width: 768px){
  .r{display:none;}
  .rst1,.rst{
    font-size: 0.8em;
  }
  .entt{font-size: 1.1em;}
}
